
<div *ngIf="credential">
    <h2><span jhiTranslate="assistantGatewayApp.credential.detail.title">Credential</span> {{credential.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="assistantGatewayApp.credential.login">Login</span></dt>
        <dd>
            <span>{{credential.login}}</span>
        </dd>
        <dt><span jhiTranslate="assistantGatewayApp.credential.passwordHash">Password Hash</span></dt>
        <dd>
            <span>{{credential.passwordHash}}</span>
        </dd>
        <dt><span jhiTranslate="assistantGatewayApp.credential.lastLoginDate">Last Login Date</span></dt>
        <dd>
            <span>{{credential.lastLoginDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="assistantGatewayApp.credential.activation_key">Activation Key</span></dt>
        <dd>
            <span>{{credential.activation_key}}</span>
        </dd>
        <dt><span jhiTranslate="assistantGatewayApp.credential.reset_key">Reset Key</span></dt>
        <dd>
            <span>{{credential.reset_key}}</span>
        </dd>
        <dt><span jhiTranslate="assistantGatewayApp.credential.reset_date">Reset Date</span></dt>
        <dd>
            <span>{{credential.reset_date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="assistantGatewayApp.credential.activated">Activated</span></dt>
        <dd>
            <span>{{credential.activated}}</span>
        </dd>
        <dt><span jhiTranslate="assistantGatewayApp.credential.user">User</span></dt>
        <dd>
            {{credential.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'credential/'+ credential.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
